* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.txt {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 3.5px;
}

#btnl,
#btnn,
#btnd {
  width: 190px;
  /* min-width: 190px; */
  max-width: 190px;
  letter-spacing: 2.5px;
  text-align: center;
}

#btnl,
#btnd {
  letter-spacing: 3.25px;
}

#btn-2,
#btn-1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 7px;
  /* color: #d9ff97; */
  background-color: #ede0c6;
}
/*  */
/*  */
/*  */
.navbar {
  padding: 1vw;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  background-color: #fef2df;
  background-image: none;
}
/*  */
/*  */
/*  */
main {
  margin-bottom: 7vw;
}
/*  */
/*  */
/*  */
#nav {
  width: 43%;
}
/*  */
/*  */
/*  */
.split {
  height: 100%;
  width: 33.33%;
  position: fixed;
  z-index: 1;
  top: 7;
  overflow-x: hidden;
  padding-top: 20px;
}
/*  */
/*  */
/*  */
.screen1 {
  left: 0;
  background-color: red;
}
/*  */
/*  */
/*  */
.screen2 {
  left: 33.33%;
  background-color: yellow;
}
/*  */
/*  */
/*  */
/*  */
.screen3 {
  right: 0;
  background-color: black;
}
/*  */
/*  */
/*  */
.centered {
  position: absolute;
  min-height: 20%;
  max-height: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
